//Wraps everything
#app{
  width:100%;
  height:100%;


  //outer-container - covers menu
  #outer-container{



    //site content- centers in page
    #main-content{

      @include containers(max xs);
      @include h-margin();

      //small screens
      @include mappy-bp(xs sm) {
        @include containers(sm, 'max-');
        background-color:colour(persian-blue,light);
      }

      //medium screens
      @include mappy-bp(sm md) {
        @include containers(md);
        @include containers(lg, $prefix:'max-');
        background-color:colour(emerald,base);
      }

      //large -- if necessary
      @include mappy-bp(md lg) {
        @include containers(md)
        @include containers(lg, $prefix:'max-');
        background-color:colour(turbo,base);
      }

      // all the larger widths
      @include mappy-bp(lg) {
        @include containers(lg)
        @include containers(xl, $prefix:'max-');
        background-color:colour(violet,base);
      }

    }
    //END - site content

  }
  //END - outer-container

}
