#outer-container{

  width:100%;

}

#main-content{

      min-width:100%;

      background-color:colour(persian-blue,turbo);

      @include mappy-bp(sm md) {
        background-color:colour(turbo,base);
        max-width: 100%;
     }

      @include mappy-bp(xl){
        background-color:colour(persian-blue,light);
     }
}
