#siteHeader{

  margin:0 auto;
  @include containers(md, 'xs-');



  .logo {
    position: relative;
    @include containers(xs, $prefix:'max-')
    @include v-margin($margin-bottom: $margin-medium);
    @include h-margin();

    img{
      width: 100%;
      @include v-margin();
    }
    span{
      @include v-margin();
      font-family:$heading-font-family-black;
      color:$black;
      @include font-size($xl-font-size);
    }

    @include mappy-bp(sm md) {
      @include containers(sm, $prefix:'max-')

      img{
        width: 30%;
      }
    }

    @include mappy-bp(md lg) {
      @include containers(sm, $prefix:'max-')

      img{
        width: 30%;
      }
    }

    @include mappy-bp(lg xl) {
      @include containers(sm, $prefix:'max-')

      img{
        width: 30%;
      }
    }


  }


}
