body {
  font-family:$base-font;
  background-color:$white;
  color: colour(blue,dark);
}

h1,h2,h3{
  font-weight: 500;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0; }


p{
	background-color:#bc5fe5;
}


footer{

	background-color: colour(blue,light);

}
