// ============================================================================
// COLOURS
// ============================================================================
//NEUTRAL COLOURS
$white : #FFF;
$black : #000;
$grey  : #666;

//SEMANTIC NAMING

//YELLOWS
$golden        : #FDD835;
$turbo         : #FFEA00;
//REDS
$red           : #BA0000; //JPG Red
$pink          : #ed0973; //JPG Pink
$fire          : #FF3C00;
$scarlet       : #FF1800;
//BLUES
$blue          : #008ef9; //JPJ blue
$persian-blue  : #1D3AED;
$azure         : #008ef9; //Botemania blue
//GREENS
$emerald       : #58D544;
$harlequin     : #3BED1D;

//COLOUR ADJUSTMENTS
$tone-level   : 15%;
$trans-level  : 0.5;


// ============================================================================
// TYPOGRAPHY
// ============================================================================

$base-font: Roboto, Verdana, Tahoma !default;
